<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/surajkj">Suraj</a>
  </div>  

  
  <div class="navbar-expand ml-auto navbar-nav">
  <div class="navbar-nav">

      <a class="nav-item nav-link" href="https://linkedin.com/in/surajkanojiya" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    <a class="nav-item nav-link" href="https://github.com/surajkj" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <!-- 
    <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
      <i class="fa fa-medium"></i>
    </a> -->
  </div>
</div>
</nav>