<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Book Management</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Book</a>
      <a class="nav-item nav-link" href="#">Library</a>
      
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Change Password</a>
        <a class="nav-item nav-link" href="#">Profile</a>
        <a class="nav-item nav-link" href="#">Logout</a>

      <!-- <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a> -->
    </div>
  </div>
</nav>